* {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: whitesmoke;
}

h1, h2, h3 {
    margin: 0;
}

/* Tyckte att menyn skulle följa med när man skrollar och valde då sticky. Valde top: 0, så att det fastnar direkt, vilket gör att om jag
t.ex. är 1px från toppen så är den fortfarande lös. 
Använder bakgrundsfärg så att det inte blir genomskinligt och z index så att det ligger ovanpå hemsidan hela tiden.*/
header {
    position: sticky;
    top: 0;
    background-color: whitesmoke;
    z-index: 10;
    border-bottom: 1px solid black;
}

nav {
    text-align: center;
    font-size: 1rem;
    
}

nav a {
    border: 1px solid black;
    border-radius: 6px;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: black; 
    display: inline-block;
    margin-bottom: 0.5rem;
}

h1 {
    font-size: 1.5rem;
    text-align: center;
}

/*Gör en bakgrund om man tar musen över länkarna i navigeringen. Detta gäller dock alla länkar om jag framöver skulle skaffa fler länkar.*/

a:hover {
    background-color: rgb(190, 182, 190);
}

/* använder display flex & flex-direction column för att få det staplat på mobil & med ett mellanrum på 25 pixlar. 
Egentligen hade jag inte behövt flexen, men vissa äldre webbläsare stödjer inte gap utan flexen. */
#produkt-komponenter, 
#produkt-tillbehor {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/* fixar så att bilderna blir lika stora & använder object-fit så att de inte trycks ihop. 
Bilder är inline-element som text och skapar då ett litet mellanrum längst ner under bilden, detta vill jag inte ha och lägger då display block*/
#produkt-komponenter img,
#produkt-tillbehor img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    display: block;
}

/* I min JS fil så skapade jag en div, vilket gjorde att de fick en storlek som inte passade mobilskärmen. 
Texten hamnade då utanför på mobil & jag behövde skrolla för att kunna läsa hela texten. 
Detta korrigerade jag genom att ge mina divar från JS filen bestämda storlekar. */
#produkt-komponenter > div,
#produkt-tillbehor > div {
    width: 100%;
    max-width: 100%;
}

.pris {
    font-weight: bold;
    font-size: 1.5rem;
}

p,
h2,
h3 {
    padding: 0.3rem;
    margin: 0.3rem;
}


/* Eftersom jag bygger min CSS utefter en mobil så behöver jag korrigera lite om skärmstorleken blir större. 
Här är storleken för t.ex. en iPad. Jag valde att skapa en grid och 2 artiklar i varje rad, jag ändrade även lite stolekar på text osv. */
@media (min-width: 768px) {

    #produkt-komponenter,
    #produkt-tillbehor {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .rubrik {
        font-size: 2.5rem;
    }

    p {
        padding: 0.5rem;
    }

    h1, h2, h3 {
        text-align: center;
        margin: 0.5rem;
    }

    h1 {
        font-size: 2.5rem;
    }


    nav {
        font-size: 1.5rem;
    }


}

/* Här är storlek på en vanlig datorskärm, allting ärvs nedåt hela tiden och man behöver således bara skriva in förändringar. Jag ansåg inte 
att jag behövde större textstorlek eller något på min datorskärm, utan tyckte det räckte med att få 3 artiklar i rad istället. */
@media (min-width: 1200px) {

    #produkt-komponenter,
    #produkt-tillbehor {
        grid-template-columns: repeat(3, 1fr);
    }
}